//variables.scss-->
@use "sass:color";

$primaryColor: #2980b9;
$lightPrimaryColor: color.adjust($primaryColor, $lightness: 20%);
$darkPrimaryColor: color.adjust($primaryColor, $lightness: -20%);
$accentColor: color.adjust($primaryColor, $hue: 180deg);
$primaryText: #212121;
$secondaryText: #757575;
$dividerColor: #bdbdbd;
$textIcons: #ffffff;

$white: $textIcons;
$black: #000000;

$dangerColor:#e74c3c;
$warningColor: #f1c40f;
$successColor:#2ecc71;
$infoColor:#5dade2;
$inverseColor:#34495e;
