.card-container {
  text-align: center;
  margin: 20px auto;
  clear: both;

  svg {
    max-width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0 auto 1em;
    transition: all 2s cubic-bezier(1, -0.53, 0.405, 1.425);

    &:hover,
    &:focus {
      -webkit-transform: rotate(360deg);
      /* Safari */
      transform: rotate(360deg);
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    .center-text {
      text-align: center;
    }
  }
}

// Main
main {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  min-height: 42em;
}
